# ==========================================
# NEXUS AI — Frontend Environment Config (Template)
# ==========================================

VITE_PORT=5173

# API Gateway & Backend Microservices
VITE_GATEWAY_URL=http://localhost:8080
VITE_ALERT_SERVICE_URL=http://localhost:8083
VITE_INCIDENT_SERVICE_URL=http://localhost:8084
VITE_LOG_SERVICE_URL=http://localhost:8081
VITE_METRIC_SERVICE_URL=http://localhost:8082
VITE_RCA_SERVICE_URL=http://localhost:8085
